
/* Указываем box sizing */

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Убираем внутренние отступы */

ul[class],
ol[class] {
    padding: 0;
}

/* Убираем внешние отступы */

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/

ul[class],
ol[class] {
    list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */

a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */

img {
    max-width: 100%;
    display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/

article>*+* {
    margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */

input,
button,
textarea,
select {
    font: inherit;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.container span {
    font-size: 15px;
}

.container h2 {
    margin-top: 30px;
}

.contact-info {
    width: 350px;
    background-color: #2D323E;
    text-align: left;
    color: #C6CCD1;
}

.info-block{
    margin-left: 30px;
}


.contact div {
    margin: 10px 30px;
}

.contact h1 {
    color: #DAE0E9;
    margin: 15px 30px 0px 30px;
}

.info h1 {
    font-weight: 600;
    font-family: "Poppins";
}

.contact-info a {
    color: #C6CCD1 !important;
    text-decoration: none
}

.info-block a {
    color: #000000 !important;
    text-decoration: none
}

.skills-info {
    display: flex;
}

.user-progress {
    margin-left: 10px;
}

@media screen and (max-width: 900px) {
    .container {
        display: block;
        width: auto;
        height: auto;
    }
    .respons{
        width: auto;
        height: auto;
    }
    .info-block{
        margin-left: 0px;
    }
}

.dinamic_block {
    transform: translate(0px, 50%);
    opacity: 0;
    transition: all, 0.7s ease 0.4s;

}

.dinamic_block._active {
    transform: translate(0px, 0px);
    opacity: 1;
}